/*main color $main-color  */

$main-color:#00738e;

@import url('https://fonts.googleapis.com/css?family=Cairo:400,700');

@import url('./../css/materialize.css');

@import url('./../css/slick.css');

@import url('./../css/keyframe.css');

@import url('./../css/swipebox.min.css');

@import url('./../css/loading.css');

@import "./../font-awesome/css/font-awesome.min.css";

img,
legend {
    border: 0;
}

.load-more,
.lock,
.pagination li a,
.socmed {
    text-decoration: none;
}

html {
    font-family: 'Cairo', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    direction: rtl;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
    font-size: 16px;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
optgroup,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre,
textarea {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    height: auto;
}

.bold,
.load-more,
.page-title,
blockquote cite,
span.dropcap {
    font-weight: 700;
}

button {
    overflow: visible;
    text-transform: none;
}

select {
    text-transform: none;
}

button,
html input[type=button] {
    -webkit-appearance: button;
    cursor: pointer;
}

input {

    &[type=reset],
    &[type=submit] {
        -webkit-appearance: button;
        cursor: pointer;
    }
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    line-height: normal;

    &[type=checkbox],
    &[type=radio] {
        box-sizing: border-box;
        padding: 0;
    }

    &[type=number] {

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            height: auto;
        }
    }

    &[type=search] {
        -webkit-appearance: textfield;
        box-sizing: content-box;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {

    &:not([type]):focus:not([readonly]),
    &[type=date]:focus:not([readonly]),
    &[type=datetime-local]:focus:not([readonly]),
    &[type=email]:focus:not([readonly]),
    &[type=number]:focus:not([readonly]),
    &[type=password]:focus:not([readonly]),
    &[type=search]:focus:not([readonly]),
    &[type=tel]:focus:not([readonly]),
    &[type=text]:focus:not([readonly]),
    &[type=time]:focus:not([readonly]),
    &[type=url]:focus:not([readonly]) {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        outline: 0;
        background-image: none;
    }
}

textarea.materialize-textarea:focus:not([readonly]) {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    outline: 0;
    background-image: none;
}

.load-more,
.pagination li.active {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

body {
    margin: 0;
    background: #efefef;
    line-height: 1.5;
    font-size: 15px;
    color: #444;

    &::-webkit-scrollbar {
        display: none;
    }
}

.lock,
.social-media a,
.socmed {
    display: inline-block;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.line,
address {
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ol {
    padding-right: 15px;
}

ul {
    padding-right: 15px;

    li {
        list-style-type: disc;
    }
}

ol li,
ul li {
    list-style-position: inside;
}

address {
    font-style: normal;
}

td,
th {
    padding: 7px 5px;
}

.line {
    height: 1px;
    background: #eee;
}

.content-container {

    &.full-overlay,
    &.no-overlay {
        height: calc(100vh - 56px);
        position: relative;
    }
}

.text-center {
    text-align: center;
}

.content-container {
    min-height: 110vh;
    padding: 10px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;

    &.full-overlay {
        background: #000;
        background: rgba(0, 0, 0, 0.5);
    }
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
}

.padding {
    padding: 15px;
}

.margin-bottom_low {
    margin-bottom: 5px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-top {
    margin-top: 15px;
}

.justify {
    text-align: justify;
}

.btn,
.btn-large,
.coming-soon,
.load-more,
.social-media {
    text-align: center;
}

.border-bottom {
    border-bottom: 1px solid #efefef;
}

.fixed {
    position: fixed;
}

.page-title {
    color: #000;
    padding: 15px 0;
    font-size: 18px;
}

.lock,
.socmed {
    font-size: 20px;
}

.lock {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;

    &:hover {
        border: 2px solid #fff;
    }
}

.coming-soon {
    width: 100%;
    color: #fff;
}

.social-media {
    padding: 15px 15px 25px;

    a {
        margin: 0 10px;
        font-size: 25px;
    }
}

.valign-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.input-field {
    label {
        right: 0;
        width: 100%;
    }

    &.with-icon {
        input {
            padding-right: 25px;
            box-sizing: border-box;
            width: 80%;
        }

        label {
            right: 30px;
        }

        .icon {
            color: #9e9e9e;
            font-size: 20px;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 5px;
        }
    }
}

.operator_num {
    width: 10%;

    padding: 5px;
    color: #00738e;
    font-weight: 800;
}

.load-more,
p,
pre {
    display: block;
}

.load-more {
    background: #fff;
    color: #000;
    padding: 8px 15px;
}

pre {
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0;
}

[type=radio] {

    &.with-gap:checked + label:after,
    &:checked + label:after {
        background-color: #DB0D0D;
        border: 2px solid #DB0D0D;
    }
}

blockquote {
    padding: 8px 6px;
    margin-bottom: 15px;
    border: 1px solid #efefef;
    font-size: 20px;
    font-style: italic;
    line-height: 28px;

    cite {
        display: block;
        font-style: normal;
        font-size: 15px;
    }
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.pagination {
    padding: 0;

    li {
        border-radius: 0;

        &.active {
            background-color: #DB0D0D;
        }
    }
}

.clear {

    &:after,
    &:before {
        content: "";
        display: table;
        table-layout: fixed;
    }

    &:after {
        clear: both;
    }
}

a {
    color: red;
    text-decoration: underline;

    &:active,
    &:focus,
    &:hover {
        color: none;
        outline: 0;
        text-decoration: none;
    }
}

embed,
iframe,
object {
    width: 100%;
    border: 0;
}

input {

    &[type=email],
    &[type=url],
    &[type=password],
    &[type=tel],
    &[type=range],
    &[type=date],
    &[type=month],
    &[type=week],
    &[type=time],
    &[type=datetime],
    &[type=datetime-local],
    &[type=color],
    &[type=number],
    &[type=search],
    &[type=text] {
        border-bottom: 1px solid #ccc;
    }
}

textarea.materialize-textarea {
    border-bottom: 1px solid #ccc;
}

input {

    &:not([type]):focus:not([readonly]),
    &[type=date]:focus:not([readonly]),
    &[type=datetime-local]:focus:not([readonly]),
    &[type=email]:focus:not([readonly]),
    &[type=number]:focus:not([readonly]),
    &[type=password]:focus:not([readonly]),
    &[type=search]:focus:not([readonly]),
    &[type=tel]:focus:not([readonly]),
    &[type=text]:focus:not([readonly]),
    &[type=time]:focus:not([readonly]),
    &[type=url]:focus:not([readonly]) {
        border-bottom: 1px solid #DB0D0D;
        box-shadow: 0 1px 0 0 #DB0D0D;
    }
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #DB0D0D;
    box-shadow: 0 1px 0 0 #DB0D0D;
}

input {

    &:not([type]):focus:not([readonly]) + label,
    &[type=date]:focus:not([readonly]) + label,
    &[type=datetime-local]:focus:not([readonly]) + label,
    &[type=email]:focus:not([readonly]) + label,
    &[type=number]:focus:not([readonly]) + label,
    &[type=password]:focus:not([readonly]) + label,
    &[type=search]:focus:not([readonly]) + label,
    &[type=tel]:focus:not([readonly]) + label,
    &[type=text]:focus:not([readonly]) + label,
    &[type=time]:focus:not([readonly]) + label,
    &[type=url]:focus:not([readonly]) + label {
        color: #DB0D0D;
    }
}

textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #DB0D0D;
}

[type=checkbox]:checked + label:before {
    border-left: 2px solid #DB0D0D;
    border-bottom: 2px solid #DB0D0D;
}

[type=radio].with-gap:checked + label:before {
    border: 2px solid #DB0D0D;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #FAB9B9;
}

.btn,
.btn-large,
.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #DB0D0D;
}

.btn {
    text-decoration: none;
    color: #fff;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.btn-large {
    text-decoration: none;
    color: #fff;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;

    &:hover {
        background-color: red;
    }
}

.btn:hover {
    background-color: red;
}

.btn-large.block,
.btn.block {
    width: 100%;
}

span {
    &.highlight {
        display: inline-block;
        padding: 0 5px;
        background: #FCFCB3;
    }

    &.dropcap {
        display: block;
        float: right;
        padding: 0 5px 0 3px;
        line-height: 30px;
        font-size: 28px;
        text-transform: uppercase;
    }
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

span {
    &.pull-right {
        color: #ccc;
        width: 30%;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        display: block;
    }

    &.pull-left {
        color: #ccc;
        width: 30%;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        display: block;
        float: left;
        margin: 0 0 10px 20px;
        text-align: left;
    }

    &.pull-right {
        float: right;
        margin: 0 20px 10px 0;
    }
}

.searchbar {
    padding: 7px 15px;
    background: #efefef;

    .icon {
        float: right;
        width: 28px;
        color: #999;
    }

    input {
        border: none;
        height: auto;
        width: calc(100% - 35px);
        font-size: 1rem;
        margin: 0;
        padding: 0;

        &:focus:not([readonly]) {
            border-bottom: none;
            box-shadow: 0 0 0 0 #DB0D0D;
        }
    }
}

.top-right-nav {
    padding: 15px 10px;
    background: #000;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#slide-out-right,
#slide-out-left {
    background: #fff;
    color: #444;
}

#slide-out-right .collapsible,
#slide-out-left .collapsible {
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 30px 0 0;
}

#slide-out-right .collapsible li,
#slide-out-left .collapsible li {
    padding: 0;
    list-style: none;
}

#slide-out-right {

    .collapsible-header,
    > .collapsible > li > a {
        background-color: transparent;
        border: none;
        padding: 10px 0;
        text-decoration: none;
        color: #000;
    }
}

#slide-out-left {

    .collapsible-header,
    > .collapsible > li > a {
        background-color: transparent;
        border: none;
        padding: 10px 0;
        text-decoration: none;
        color: #000;
    }
}

#slide-out-right {

    li.heading-menu,
    > .collapsible > li > a {
        display: block;
        margin: 0 1.5rem;
        color: #000;
    }
}

#slide-out-left {

    li.heading-menu,
    > .collapsible > li > a {
        display: block;
        margin: 0 1.5rem;
        color: #000;
    }
}

#slide-out-right li.heading-menu,
#slide-out-left li.heading-menu {
    color: #999;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
}

#slide-out-right li .line-separator,
#slide-out-left li .line-separator {
    margin: 0 18px 10px 20px;
    height: 1px;
    background: #ddd;
}

#slide-out-right li a i.fa,
#slide-out-left li a i.fa {
    margin-left: 1rem;
    color: #999;
}

#slide-out-right .collapsible-header i.fa,
#slide-out-left .collapsible-header i.fa {
    line-height: none;
    font-size: 14px;
    color: #999;
}

#slide-out-right .collapsible-header span.fa,
#slide-out-left .collapsible-header span.fa {
    float: left;
}

#slide-out-right .collapsible .active span.fa,
#slide-out-left .collapsible .active span.fa {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#slide-out-right,
#slide-out-left {
    .collapsible-header.current-item {
        color: #DB0D0D;
        font-weight: 700;
    }

    li.current-item a {
        color: #DB0D0D;
        font-weight: 700;

        i {
            color: #DB0D0D;
            font-weight: 700;
        }
    }
}

#slide-out-right .collapsible-body,
#slide-out-left .collapsible-body {
    border: 0;
    background-color: transparent;
}

#slide-out-right .collapsible-body ul,
#slide-out-left .collapsible-body ul {
    padding: 0;
    background: #efefef;
}

#slide-out-right .collapsible-body li a,
#slide-out-left .collapsible-body li a {
    padding: 7px 10px 7px 30px;
    display: block;
    text-decoration: none;
    color: #444;
    font-weight: 400;
}

#slide-out-right .collapsible-body li.current-item a,
#slide-out-left .collapsible-body li.current-item a {
    color: #DB0D0D;
}

#slide-out-right li {

    &.active,
    &:hover {
        background-color: transparent;
    }
}

#slide-out-left li {

    &.active,
    &:hover {
        background-color: transparent;
    }
}

.side-cover {
    height: 140px;
    background: #DB0D0D;
    position: relative;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: #000;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
        background: -webkit-linear-gradient(top, transparent, #000);
        background: -moz-linear-gradient(top, transparent, #000);
        background: -ms-linear-gradient(top, transparent, #000);
        background: -o-linear-gradient(top, transparent, #000);
        opacity: 0.5;
    }

    .cover-img {
        height: 140px;
        overflow: hidden;

        img {
            width: 100%;
            overflow: hidden;
        }
    }

    .prof-container {
        position: absolute;
        bottom: -30px;
        width: 100%;
        padding: 0 10px;

        .avatar {
            float: right;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid #fff;

            img {
                width: 100%;
            }
        }

        .profile-name {
            float: left;
            width: calc(100% - 80px);
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            padding: 5px 0 0;
        }
    }
}

.tabs {
    height: auto;
    padding: 0;
    margin: 0;

    .tab {
        height: auto;
        padding: 0;
        margin: 0;
    }
}

.row .col.s3 {
    margin-right: 0;
}

.tabs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #ccc;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;

    .tab {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 0;
        display: block;
        float: right;
        text-align: center;
        line-height: auto;
        text-transform: none;
        text-overflow: none;
        overflow: hidden;
        letter-spacing: auto;
        width: auto;
        min-width: auto;

        a {
            color: #999;
            display: block;
            width: 100%;
            height: 100%;
            text-overflow: none;
            overflow: hidden;
            padding: 0 5px;
            transition: color 0.28s ease;

            &:hover {
                color: none;
            }

            &.active {
                color: #fff;
            }
        }

        &.disabled a {
            color: #f9c9cb;
            cursor: default;
        }
    }

    .indicator {
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: red;
        will-change: right, left;
    }
}

.sidebar-tabs .tabs .tab a {
    padding: 0;
    display: block;
    width: 110px;
    text-align: center;
    text-decoration: none;

    &:hover {
        color: #999;
    }

    &.active {
        &:hover {
            color: #fff;
        }

        font-weight: 700;
    }
}

.tabs-content {
    padding: 15px;
}

.tabs-date {
    font-size: 25px;
    font-weight: 300;
}

.tabs-block {
    padding: 15px 0;
    font-size: 14px;

    .block-heading {
        border-top: 1px solid #eee;
        padding: 15px 0 0;
        color: #aaa;
        text-transform: uppercase;
        font-size: 13px;
    }
}

.tabs-notifications {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding: 10px 0;
    }

    .user-pic {
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        margin: 5px 0 0;

        img {
            width: 100%;
        }
    }

    .app-content {
        float: left;
        width: calc(100% - 40px);

        .username {
            font-weight: 700;
        }

        span.time {
            font-size: 12px;
            color: #bbb;
        }
    }
}

.tabs-latest_tweet {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        padding: 15px 0;

        a {
            text-decoration: none;
            font-weight: 700;
            color: #333;
        }

        span {
            display: block;

            a {
                color: #aaa;
                font-weight: 400;
            }
        }
    }
}

.tabs-chat {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        padding: 10px 0;
    }

    .user-pic {
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        margin: 5px 10px 0 0;

        img {
            width: 100%;
        }
    }

    .user {
        float: right;
        max-width: calc(100% - 50px);

        .username {
            padding: 6px 0;
            color: #000;
        }
    }

    .indicator {
        float: left;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #1EBF02;
        margin: 12px 0 0;
    }
}

.tabs-event {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        padding: 10px 0;
        min-height: 65px;

        .event-date {
            float: right;
            width: 48px;
            border: 1px solid #DB0D0D;
            border-radius: 3px;
            overflow: hidden;

            span {
                display: block;
                text-align: center;

                &.year {
                    font-size: 12px;
                }

                &.date {
                    font-size: 20px;
                    font-weight: 700;
                }

                &.month {
                    background: #DB0D0D;
                    color: #fff;
                    font-size: 12px;
                }
            }
        }

        .event-name {
            width: calc(100% - 60px);
            margin: 0 0 0 60px;
            padding: 3px 0 0;
            line-height: 16px;
        }
    }
}

#page {
    padding-top: 56px;
    position: relative;
}

.page-bg {
    background: url(assets/images/8.jpg) (center / cover) no-repeat !important;
}

.top-navbar {
    background: #fff;
    border-bottom: 1px solid red;
    box-shadow: 0 0 5px #000;
    height: 75px;
    position: fixed;
    -webkit-transform: translateZ(0);
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;

    .site-title {
        text-align: center;
        margin: 0 auto;
        max-width: calc(100% - 100px);
        padding: 7px 0;

        h1 {
            margin: 0;
            font-size: 28px;
            font-weight: 700;
            padding: 4px 0;
            color: #000;
        }

        p {
            text-align: center;
            margin-top: -10px;
            color: #fff;
            font-weight: bold;
        }
    }

    .top-navbar-right {
        float: right;
    }

    .top-navbar-left {
        float: left;
        padding-left: 10px;
        width: 50px;
        text-align: center;
    }

    .top-navbar-right a {
        font-size: 22px;
        padding: 20px 15px;
        display: inline-block;
        color: #555;
    }

    .top-navbar-left a {
        font-size: 22px;
        padding: 20px 5px;
        display: inline-block;
        color: #555;
    }

    .dropdown-content {
        background-color: #fff;
        margin: 56px 0 0;
        display: none;
        min-width: 170px;
        max-height: 650px;
        overflow-y: auto;
        opacity: 0;
        position: absolute;
        z-index: 999;
        will-change: width, height;
        list-style: none;
        padding: 0;

        li {
            list-style: none;
            min-height: auto;
            line-height: auto;
            padding: 0 8px;

            a {
                font-size: 15px;
                line-height: auto;
                text-decoration: none;
                color: #000;

                i.fa {
                    display: inline-block;
                    width: 23px;
                    color: #999;
                }
            }
        }
    }

    &.float-navbar {
        background: 0 0;
        position: absolute;
        border-bottom: 0;
        box-shadow: none;
    }
}

.maleo-card {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    &.full-height {
        height: calc(100vh - 80px);
        width: 100%;
        box-sizing: border-box;
    }

    &.full-height_alt {
        height: calc(100vh - 140px);
        width: 100%;
        box-sizing: border-box;
    }
}

.maleo-card_title {
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #efefef;

    &.big-title {
        font-size: 24px;
    }
}

.featured-slider {
    background: #999;
    position: relative;

    .featured-item {
        position: relative;
        height: 290px;
        overflow: hidden;

        .icons {
            position: absolute;
            top: 20px;
            right: 15px;
            width: 30px;
            height: 30px;
            background: #000;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            border-radius: 50%;
            padding: 4px 0 0;
            text-align: center;
        }

        .thumbnail {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            top: 0;
            right: 0;
            background-color: $main-color;
        }
    }
}

.featured-gallery-slider .featured-item .thumbnail img {
    width: 100%;
    height: 80%;
}

.featured-slider .featured-item {
    .thumbnail img {
        width: 100%;
        height: 80%;
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: 0;
        background: #000;
        /*background: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background: -webkit-linear-gradient(top, transparent, #000);
    background: -moz-linear-gradient(top, transparent, #000);
    background: -ms-linear-gradient(top, transparent, #000);
    background: -o-linear-gradient(top, transparent, #000);*/
        opacity: 0.8;
    }

    .caption {
        position: absolute;
        bottom: 0;
        padding: 5px 15px 45px;

        .underline {
            border-bottom: 2px solid red;
        }

        .highlight {
            background: red;
            color: #fff;
            padding: 2px 3px;
        }

        .issue {
            color: #FA6E6E;
            font-size: 13px;
        }

        h2 {
            margin: 0 0 5px;
            padding: 0;
            font-size: 22px;
            color: #fff;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        .meta {
            font-size: 13px;
            color: #bbb;
        }

        .rating {
            font-size: 16px;
            color: #999;

            i.fa.active {
                color: #EBE305;
            }
        }
    }
}

.featured-gallery-slider .featured-item .fullscreen,
.featured-slider .featured-item .fullscreen {
    position: absolute;
    top: 0;
    left: 0;
}

.featured-gallery-slider .featured-item .fullscreen a {
    font-size: 18px;
    padding: 3px 7px;
    display: inline-block;
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.featured-slider {
    .featured-item .fullscreen a {
        font-size: 18px;
        padding: 3px 7px;
        display: inline-block;
        background: #000;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
    }

    .slick-dots {
        width: auto;
        position: absolute;
        bottom: 0;
        padding: 0;
        right: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.maleo-testimonial_slider .slick-dots {
    width: auto;
    position: absolute;
    bottom: 0;
    padding: 0;
    right: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.featured-slider .slick-dots li,
.maleo-testimonial_slider .slick-dots li {
    float: right;
    margin: 0 2px;
    list-style: none;
}

.featured-slider .slick-dots li button,
.maleo-testimonial_slider .slick-dots li button {
    width: 10px;
    height: 10px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    font-size: 0;
    border-width: 0;
}

.blog-comments_child li,
.maleo-article .blog-tagged,
.maleo-blog .maleo-blog_action {
    border-top: 1px solid #efefef;
}

.blog-archieve li,
.blog-comments > li,
.blog-comments_form,
.fp_newsletter .heading-nl,
.product-single .product-header,
.separator-bottom,
.shop_review-list li {
    border-bottom: 1px solid #efefef;
}

.featured-slider .slick-dots li button {
    background: #fff;
}

.maleo-testimonial_slider .slick-dots li button {
    background: #999;
}

.featured-slider .slick-dots li.slick-active button,
.maleo-testimonial_slider .slick-dots li.slick-active button {
    background: red;
}

.featured-gallery-slider {
    .next-arr {
        position: absolute;
        top: 40%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        background: #000;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
        text-align: center;
        padding-top: 5px;
    }

    .prev-arr {
        position: absolute;
        top: 40%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        background: #000;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
        text-align: center;
        padding-top: 5px;
        right: 10px;
        padding-left: 2px;
    }

    .next-arr {
        left: 10px;
        padding-right: 2px;
    }
}

.fp_item-presentation {
    padding: 15px;
    text-align: center;
    color: #555;
    font-size: 13px;

    .icon-presentation {
        font-size: 35px;
        margin: 0 auto 10px;
        color: #DB0D0D;
        border-radius: 50%;
        background: #efefef;
        width: 75px;
        height: 75px;
        line-height: 70px;
    }

    .title-presentation {
        font-size: 18px;
        font-weight: 700;
        color: #000;
    }
}

.front-ads {
    float: right;
    width: 50%;
    height: 110px;
    position: relative;
    overflow: hidden;
    display: block;

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: #000;
        background: rgba(0, 0, 0, 0.5);
    }

    .thumb img {
        width: 100%;
    }

    .text-ads {
        color: #ccc;
        font-size: 13px;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 10px 20px;
        text-align: center;
        width: 100%;
    }

    h3 {
        color: #fff;
        margin: 0 0 3px;
        padding: 0;
        font-size: 20px;
        font-weight: 700;
    }
}

.fp_newsletter {
    text-align: center;
    padding: 15px;

    .heading-nl {
        padding: 0 0 15px;

        h3 {
            font-size: 18px;
            font-weight: 700;
            color: #000;
            margin: 0 0 5px;
        }

        p {
            font-size: 13px;
            color: #666;
        }
    }
}

.blog-archieve_tools {
    padding: 15px;

    .archieve-date {
        float: right;
        width: calc(50% - 5px);
    }

    .archieve-category {
        float: left;
        width: calc(50% - 5px);
    }

    input,
    select {
        margin: 0;
    }
}

.blog-archieve {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding: 5px 15px;

        .item-archieve {
            text-decoration: none;
            color: #222;
        }

        .archieve-date {
            display: block;
            font-size: 12px;
            color: #999;
            margin: 2px 0 0;
        }

        .issue {
            display: block;
            color: red;
            font-size: 13px;
        }
    }
}

.maleo-blog {
    .maleo-blog_thumb {
        max-height: 200px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
        }

        .post-type_badge {
            position: absolute;
            right: 15px;
            top: 15px;
            width: 37px;
            height: 37px;
            border-radius: 50%;
            background: #fff;
            color: #000;
            text-align: center;
            line-height: 35px;
            font-size: 19px;
        }

        .post-pinned {
            position: absolute;
            left: 0;
            top: 0;
            width: 33px;
            height: 33px;
            background: red;
            color: #fff;
            text-align: center;
            line-height: 33px;
            font-size: 17px;
        }

        .thumb-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background: #000;
            background: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
            background: -webkit-linear-gradient(top, transparent, #000);
            background: -moz-linear-gradient(top, transparent, #000);
            background: -ms-linear-gradient(top, transparent, #000);
            background: -o-linear-gradient(top, transparent, #000);
            opacity: 0.6;
        }

        .thumb-navigation {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 15px;

            .issue {
                display: block;
                font-size: 13px;
                color: #FA6E6E;
            }

            .blog-title {
                font-size: 20px;
                line-height: 22px;
                margin: 0 0 6px;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }

            .blog-meta {
                font-size: 13px;
                color: #ccc;
            }
        }
    }

    .maleo-blog_action,
    .maleo-blog_content {
        padding: 15px;
    }

    .maleo-blog_action a {
        color: #000;
        text-decoration: none;
        font-weight: 700;
    }
}

.maleo-blog_small {
    float: right;
    width: 100%;

    .maleo-blog_thumb {
        width: 100%;
        overflow: hidden;
        line-height: 0;
        position: relative;

        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background: #000;
            opacity: 0.5;
        }

        .icon {
            position: absolute;
            top: 30%;
            font-size: 28px;
            right: 0;
            color: #fff;
            width: 100%;
            text-align: center;
        }

        img {
            width: 100%;
        }
    }

    .maleo-blog_leftcontent {
        float: left;
        width: calc(100% - 120px);
        padding: 5px 5px 5px 0;

        .blog-title {
            font-size: 15px;
            margin: 0 0 5px;
            font-weight: 700;

            a {
                color: #000;
                text-decoration: none;
            }
        }

        .blog-meta {
            font-size: 12px;
            color: #999;
        }
    }
}

.blog-comments_form {
    padding: 15px;
}

.blog-comments {
    padding: 0 15px;
    margin: 0;
    list-style: none;
}

.blog-comments_child {
    padding: 0 15px 0 30px;
    list-style: none;
    margin: 15px 0 0;
}

.blog-comments li {
    padding: 15px 0;
    float: right;
    width: 100%;
    box-sizing: border-box;

    &.has_child {
        padding: 15px 0 0;
    }
}

.maleo-article {

    .blog-content,
    .post-header {
        padding: 15px;
    }
}

.blog-comments li .user-pic,
.blog-comments_child li .user-pic {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.blog-comments li .user-pic img,
.blog-comments_child li .user-pic img {
    width: 100%;
}

.blog-comments li .comment-content,
.blog-comments_child li .comment-content {
    float: left;
    width: calc(100% - 65px);
}

.blog-comments li {
    &.has_child > .comment-content {
        margin-bottom: 15px;
    }

    .comment-content .user-name {
        margin: 0;
        font-size: 15px;
        font-weight: 700;
    }
}

.blog-comments_child li .comment-content .user-name {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}

.blog-comments li .comment-content .comment-meta,
.blog-comments_child li .comment-content .comment-meta {
    margin: 0 0 10px;
    color: #999;
    font-size: 12px;
}

.maleo-article {
    .post-header {
        .entry-title {
            margin: 0;
            font-size: 22px;
            color: #000;
        }

        .entry-title_page {
            margin: 0;
            font-size: 22px;
            color: #000;
            font-weight: 700;
        }

        .entry-meta {
            margin: 5px 0 0;
            font-size: 13px;
            color: #999;
        }
    }

    .blog-content {
        .thumb {
            img {
                width: 100%;
            }

            .caption {
                background: #eee;
                font-size: 12px;
                padding: 4px 5px;
                color: #555;
                font-style: italic;
            }

            margin-bottom: 17px;
        }

        p {
            margin-bottom: 17px;
        }
    }
}

.maleo-event .event-content p,
.product-single .product-content p {
    margin-bottom: 17px;
}

.maleo-article .blog-shared a:not(.btn):not(.btn-large):not(.btn-floating),
.maleo-event .event-shared a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #fff;
}

.maleo-article .blog-shared,
.maleo-event .event-shared {
    text-align: center;
    border-top: 1px solid #efefef;
    padding: 15px;
}

.maleo-article .blog-shared a,
.maleo-event .event-shared a {
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
}

.maleo-article .blog-shared a.fb,
.maleo-event .event-shared a.fb {
    background: #3b5998;
}

.maleo-article .blog-shared a.tw,
.maleo-event .event-shared a.tw {
    background: #55acee;
}

.maleo-article .blog-shared a.gplus,
.maleo-event .event-shared a.gplus {
    background: #dd4b39;
}

.maleo-article {
    .blog-tagged {
        padding: 15px;

        i.fa {
            display: iniline-block;
            margin: 0 12px 0 0;
            color: #ccc;
        }

        a {
            display: iniline-block;
            margin: 0 7px 0 0;
            color: #999;
        }
    }

    .thumb .caption {
        background: #eee;
        font-size: 12px;
        padding: 4px 5px;
        margin-top: -5px;
        color: #555;
        font-style: italic;
    }
}

.post-featured-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 0 0 20px;

    iframe.video {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.shop_category-item {
    display: inline-block;
    text-decoration: none;
    line-height: 0;
    width: calc(50% - 2px);
    margin-bottom: 4px;

    &.right {
        margin-left: 2px;
    }

    &.left {
        margin-right: 2px;
    }

    .thumb {
        position: relative;
        height: 100px;
        overflow: hidden;

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background: #000;
            background: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
            background: -webkit-linear-gradient(top, transparent, #000);
            background: -moz-linear-gradient(top, transparent, #000);
            background: -ms-linear-gradient(top, transparent, #000);
            background: -o-linear-gradient(top, transparent, #000);
            opacity: 0.8;
        }

        .caption {
            position: absolute;
            width: 100%;
            bottom: 0;
            right: 0;
            padding: 15px;

            .category-name {
                color: #fff;
                margin: 0 0 5px;
                padding: 0;
                font-size: 18px;
            }
        }

        .rating {
            font-size: 10px;
            color: #999;

            i.fa.active {
                color: #EBE305;
            }
        }

        img {
            width: 100%;
        }
    }
}

.shop_review-list {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;

    li {
        padding: 10px 0;

        .review-idty {
            float: right;
            width: 80px;
        }

        .review-ctn {
            width: calc(100% - 95px);
            margin: 0 0 0 95px;
            min-height: 60px;
        }

        .name {
            margin: 0 0 5px;
            font-weight: 700;
        }

        .product-rating {
            font-size: 10px;
            color: #eee;

            i.fa.active {
                color: #EBE305;
            }
        }
    }
}

.product-list {
    padding: 0;
    list-style: none;
    margin: 0;

    .product-item {
        padding: 10px;
        float: right;
        width: 50%;
    }
}

.maleo-article .thumb img,
.maleo-event .thumb img,
.product-list .product-item .thumb img,
.product-single .thumb img {
    width: 100%;
    margin-top: 10px;
}

.product-list .product-item {
    .thumb {
        max-height: 100px;
        overflow: hidden;
        margin-bottom: 5px;
    }

    .product-name {
        max-height: 40px;
        font-weight: 700;
        overflow: hidden;
    }

    .product-price {
        text-align: center;
        border: 31px 39px 13px;
        background-color: #000;
        opacity: 0.8;
        height: 40px;
        padding: 5px;

        .product-price_original {
            color: #aaa;
            font-size: 12px;
            text-decoration: line-through;
            display: inline-block;
            margin-left: 5px;
        }

        .product-price_reduced {
            color: #f90;
            font-weight: 700;
        }
    }

    .product-rating {
        font-size: 12px;
        color: #eee;

        i.fa.active {
            color: #EBE305;
        }
    }
}

.separator-left {
    border-left: 1px solid #efefef;
}

.maleo-faq .collapsible,
.maleo-shop_checkout .collapsible {
    border-left: 0 solid #ddd;
    border-right: 0 solid #ddd;
    list-style: none;
}

.product-single {
    .product-header {
        padding: 10px;

        .product-name {
            font-weight: 700;
            font-size: 18px;
            margin: 0 0 5px;
        }

        .product-price {
            margin: 0 0 5px;

            .product-price_original {
                color: #aaa;
                font-size: 12px;
                text-decoration: line-through;
                display: inline-block;
                margin-left: 5px;
            }

            .product-price_reduced {
                color: #f90;
                font-weight: 700;
            }
        }

        .product-rating {
            font-size: 12px;
            color: #eee;

            i.fa.active {
                color: #EBE305;
            }
        }
    }

    .product-tabs .tabs {
        background-color: #fff;
        border-bottom: 1px solid #efefef;

        .tab {
            padding: 0 10px;

            a {
                color: #bbb;
                text-decoration: none;

                &.active {
                    color: #000;
                }
            }
        }

        .indicator {
            position: absolute;
            bottom: 0;
            height: 0;
        }
    }

    .product-content {
        padding: 15px;
    }
}

.product-price h3 {
    text-align: center;
    border: 31px 39px 13px;
    background-color: #000;
    opacity: 0.8;
    height: 40px;
    padding: 5px;
    color: #fff;
}

.subtitle {
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 10px;
}

.maleo-shop_checkout {
    .collapsible {
        padding: 0;
        margin: 0;
        border-top: 0 solid #ddd;
        box-shadow: none;

        > li {
            list-style: none;
            margin: 0 0 5px;
            background-color: #fff;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }

        li .collapsible-header {
            display: block;
            cursor: pointer;
            background-color: transparent;
            border-bottom: 0;
            padding: 15px;
            font-weight: 700;

            .total-cart {
                display: inline-block;
                float: left;
            }

            span.fa {
                float: left;
            }
        }

        .active span.fa {
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        li .collapsible-body {
            display: none;
            border-bottom: none;
            border-top: 1px solid #efefef;
            box-sizing: border-box;
            padding: 15px;

            .cart-items {
                padding: 0;
                margin: 0 0 10px;

                li {
                    margin: 0;
                    list-style: none;
                    border-bottom: 1px solid #efefef;
                    padding: 5px 0;
                    min-height: 50px;

                    .item-img {
                        display: inline-block;
                        width: 50px;
                        float: right;
                        max-height: 40px;
                        overflow: hidden;

                        img {
                            width: 100%;
                        }
                    }

                    .item-name {
                        width: calc(100% - 125px);
                        display: inline-block;
                        margin: 0 5px;
                    }

                    .item-price {
                        width: 60px;
                        display: inline-block;
                        text-align: left;
                    }
                }
            }

            .cart-addon {
                padding: 5px 0;
            }

            .cart-subtotal {
                padding: 5px 0;
                font-weight: 700;
            }

            .cart-addon .addon-value,
            .cart-subtotal .subtotal-value {
                float: left;
            }

            .cart-total {
                .total-value {
                    float: left;
                }

                font-weight: 700;
                padding: 10px 0;
                border-top: 1px solid #efefef;
            }
        }
    }

    .input-field {
        padding: 0 15px;

        label {
            right: 15px;
        }
    }
}

.maleo-event {
    .event-content {
        padding: 15px;

        .event-item_spec {
            margin: 0 0 15px;

            .spec-main {
                display: block;
                color: #999;
                font-size: 13px;

                i.fa {
                    margin: 0 5px 0 0;
                    display: inline-block;
                }
            }
        }
    }

    .post-header .event-date span {
        display: block;
    }
}

.maleo-event_list .event-date span {
    display: block;
}

.maleo-event .post-header {
    margin-bottom: 15px;

    .event-date {
        float: right;
        width: 70px;
        text-align: center;
        line-height: 23px;
        padding: 5px;

        span {
            &.date {
                font-size: 30px;
            }

            &.year {
                font-size: 12px;
            }
        }
    }

    .event-title {
        float: left;
        width: calc(100% - 70px);
        padding: 15px 15px 0 0;
        line-height: 23px;
        margin: 0;
        font-size: 20px;
    }
}

.maleo-event_list {
    float: right;
    width: 100%;

    .event-date {
        float: right;
        width: 70px;
        text-align: center;
        line-height: 23px;
        padding: 10px 5px;
        background: #ddd;
    }

    .event-content {
        float: left;
        width: calc(100% - 80px);
        padding: 5px;
    }

    .event-date span {
        &.date {
            font-size: 30px;
        }

        &.year {
            font-size: 12px;
        }
    }

    .event-content {
        .event-name {
            line-height: 20px;
            margin: 0 0 5px;
            font-size: 16px;

            a {
                color: #000;
                text-decoration: none;
            }
        }

        .event-location {
            color: #999;
            font-size: 13px;
        }
    }
}

.maleo-faq .collapsible {
    padding: 0;
    margin: 0;
    border-top: 0 solid #ddd;
    box-shadow: none;
}

.gallery-filter,
.gallery-list a img {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.maleo-chat {

    .opponent .pic,
    .self .pic {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

.maleo-faq .collapsible li {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.maleo-testimonial .items {

    .content-testi,
    .profile .pic {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

.maleo-testimonial_slider .items {

    .content-testi,
    .profile .pic {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

.search-form input {

    &[type=search],
    &[type=text] {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

.maleo-faq .collapsible {
    li {
        list-style: none;
        margin: 0 0 5px;
        background-color: #fff;

        .collapsible-header {
            display: block;
            cursor: pointer;
            background-color: transparent;
            border-bottom: 0;
            padding: 15px;
            font-weight: 700;

            span.fa {
                float: left;
            }
        }
    }

    .active span.fa {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    li .collapsible-body {
        display: none;
        border-bottom: none;
        border-top: 1px solid #efefef;
        box-sizing: border-box;

        p {
            margin: 0;
            padding: 15px;
        }
    }
}

.maleo-testimonial,
.maleo-testimonial_slider {
    margin: 0 0 15px;
    position: relative;
    box-sizing: border-box;
}

.maleo-testimonial .items {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0;
    margin: 0 0 40px;
}

.maleo-testimonial_slider .items {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0;
    margin: 0 0 40px;
    margin: 0 0 40px;
}

.maleo-testimonial .items {
    margin: 0 0 15px;

    .profile {
        float: right;
        width: 90px;
        text-align: center;
    }
}

.maleo-testimonial_slider .items .profile {
    float: right;
    width: 90px;
    text-align: center;
}

.maleo-testimonial .items .profile .pic,
.maleo-testimonial_slider .items .profile .pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 10px;
    overflow: hidden;
}

.maleo-testimonial .items .profile .pic img,
.maleo-testimonial_slider .items .profile .pic img {
    width: 100%;
}

.maleo-testimonial .items .profile .name,
.maleo-testimonial_slider .items .profile .name {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 700;
}

.maleo-testimonial .items .profile .desc,
.maleo-testimonial_slider .items .profile .desc {
    font-size: 12px;
    color: #999;
    line-height: 15px;
    display: inline-block;
}

.maleo-testimonial .items .content-testi,
.maleo-testimonial_slider .items .content-testi {
    background: #fff;
    width: calc(100% - 101px);
    margin: 0 0 0 99px;
    min-height: 120px;
    padding: 15px;
    position: relative;
}

.maleo-testimonial .items .content-testi:after,
.maleo-testimonial_slider .items .content-testi:after {
    content: '';
    position: absolute;
    right: -15px;
    top: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    z-index: 9;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #fff transparent transparent;
}

.maleo-drawer .items,
.maleo-sequence .items {
    position: relative;
    overflow: hidden;
}

.search-form input {

    &[type=search],
    &[type=text] {
        background: #fff;
        padding: 25px 15px;
        font-size: 20px;
        margin-bottom: 5px;
        box-sizing: border-box;
    }
}

.not-found {
    padding: 60px 20px 0;
    text-align: center;

    h2 {
        font-size: 75px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        color: #ccc;

        &.coming-soon {
            font-size: 35px;
        }
    }

    h3 {
        margin: 0 0 30px;
        padding: 0;
    }
}

.gallery-list {
    padding: 5px;

    a {
        display: block;
        float: right;
        width: 50%;
        padding: 3px;
        overflow: hidden;
        max-height: 300px;

        img {
            width: 100%;
        }
    }

    .mix-target {
        display: none;
    }
}

.gallery-filter {
    background-color: #fff;
    width: calc(100% - 20px);
    margin: 0;

    .tab {
        padding: 0 7px;

        a {
            color: #ccc;
            text-decoration: none;

            &.active,
            &:hover {
                color: #000;
            }
        }
    }
}

.maleo-sequence {
    padding: 20px;
    text-align: center;
    min-height: 400px;
}

.maleo-drawer {
    padding: 10px;
    text-align: center;

    .items {
        height: 430px;
    }
}

.maleo-sequence .items {
    .thumb-icon {
        margin: 20px auto 30px;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: #eee;
        color: red;
        font-size: 70px;
        line-height: 120px;

        img {
            width: 100%;
        }
    }

    .heading {
        font-size: 22px;
        margin: 0 0 20px;
        color: #000;
        font-weight: 700;
    }

    p {
        color: #777;
        font-size: 13px;
    }
}

.maleo-drawer .slick-dots,
.maleo-sequence .slick-dots {
    width: auto;
    position: absolute;
    padding: 0;
    right: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.maleo-drawer .slick-dots {
    bottom: -20px;
}

.maleo-sequence .slick-dots {
    bottom: 0;
}

.maleo-drawer .slick-dots li,
.maleo-sequence .slick-dots li {
    float: right;
    margin: 0 2px;
    list-style: none;
}

.maleo-drawer .slick-dots li button,
.maleo-sequence .slick-dots li button {
    width: 13px;
    height: 3px;
    overflow: hidden;
    background: #999;
    display: inline-block;
    font-size: 0;
    border-width: 0;
}

.maleo-drawer .slick-dots li.slick-active button,
.maleo-sequence .slick-dots li.slick-active button {
    background: red;
}

.drawer-icon {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
        margin: 5px 12px 20px;
        float: right;

        .name {
            color: #666;
            font-size: 12px;
            padding: 5px 0;
        }

        .icon {
            background: #ccc;
            width: 58px;
            height: 58px;
            border-radius: 10px;
            font-size: 30px;
            line-height: 55px;
            color: #fff;

            &.green-gradient {
                background: #36E01F;
                background: -webkit-gradient(linear, 0 0, 0 100%, from(#67F754), to(#36E01F));
                background: -webkit-linear-gradient(top, #67F754, #36E01F);
                background: -moz-linear-gradient(top, #67F754, #36E01F);
                background: -ms-linear-gradient(top, #67F754, #36E01F);
                background: -o-linear-gradient(top, #67F754, #36E01F);
            }

            &.blue-gradient {
                background: #269ED1;
                background: -webkit-gradient(linear, 0 0, 0 100%, from(#41B6E8), to(#269ED1));
                background: -webkit-linear-gradient(top, #41B6E8, #269ED1);
                background: -moz-linear-gradient(top, #41B6E8, #269ED1);
                background: -ms-linear-gradient(top, #41B6E8, #269ED1);
                background: -o-linear-gradient(top, #41B6E8, #269ED1);
            }
        }
    }
}

.todo {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        padding: 15px;
        border-bottom: 1px solid #efefef;

        &.heading {
            padding: 8px 15px 8px 50px;
            font-weight: 700;
            color: #000;
        }
    }

    li {
        [type=checkbox] + label {
            color: #111;
            font-size: 15px;
        }

        .todo-time {
            display: block;
            font-size: 12px;
            margin: 0 0 0 35px;
            color: #999;
        }

        .todo-icon {
            float: left;
            width: 30px;
            height: 30px;
            margin: 5px 0 0 3px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }
}

.maleo-chat {
    padding: 0;
    margin: 10px 0 60px;
    list-style: none;

    > li {
        margin: 0 0 25px;
    }

    .tl-date {
        text-align: center;
        color: #999;
    }

    .opponent .pic,
    .self .pic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }

    .opponent .pic {
        float: right;
        margin: 0 15px 0 0;
    }

    .self .pic {
        float: left;
    }

    .opponent .pic img,
    .self .pic img {
        width: 100%;
    }

    .opponent {

        .message,
        .messages {
            padding: 10px;
            width: calc(100% - 65px);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
    }

    .self {

        .message,
        .messages {
            padding: 10px;
            width: calc(100% - 65px);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
    }

    .opponent {

        .message,
        .messages {
            background: #fff;
            margin: 0 0 0 65px;
        }
    }

    .self {

        .message,
        .messages {
            background: #FCF0F0;
            margin: 0;
        }
    }

    .opponent .messages,
    .self .messages {
        padding: 0;
        list-style: none;
    }

    .opponent .messages > li,
    .self .messages > li {
        padding: 10px;
        border-bottom: 1px solid #efefef;
    }

    .opponent {

        .message img,
        .messages img {
            width: 100%;
        }
    }

    .self {

        .message img,
        .messages img {
            width: 100%;
        }
    }

    .latest-seen {
        font-size: 12px;
        color: #999;
        padding: 2px 0;
        margin: 0 0 0 65px;
        display: inline-block;
    }
}

.chat-msg-form {
    background: #ddd;
    border-top: 1px solid #ccc;
    padding: 15px 0;

    span {
        display: inline-block;

        &.img-icon {
            text-align: center;
            width: 40px;
            color: #666;
        }

        &.input-form {
            width: calc(100% - 100px);

            input {
                background: #fff;
                margin: 0;
                border-bottom: none;
                padding: 5px;
                height: auto;
                box-sizing: border-box;

                &:focus {
                    border-bottom: none;
                    box-shadow: none;
                }
            }
        }

        &.send-button {
            width: 50px;
            text-align: center;

            button {
                background: 0 0;
                border: transparent;
                font-weight: 700;
            }
        }
    }
}

.profile-page {
    .cover-container {
        height: 290px;
        position: relative;

        .cover {
            height: 200px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }

    .account-container {
        position: absolute;
        top: 165px;
        right: 0;
        box-sizing: border-box;
        width: 100%;
        text-align: center;

        .user-pic {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto 15px;
            border: 2px solid #fff;
        }
    }
}

.friend-list li,
.profile-tabs {
    border-bottom: 1px solid #efefef;
}

.profile-page .account-container {
    .user-pic img {
        width: 100%;
    }

    .profile-name {
        color: #000;
        font-size: 20px;
        font-weight: 700;
    }
}

.profile-tabs {
    width: 100%;
    overflow: hidden;

    .tabs {
        background: #fff;
        box-sizing: border-box;

        .tab {
            width: 33%;
            list-style: none;

            a {
                color: #ccc;
                text-decoration: none;

                &.active {
                    font-weight: 700;
                    color: #000;
                }
            }
        }
    }
}

.profile-content {
    padding: 0 15px;

    .profile-block {
        padding: 15px 0;

        .heading {
            text-transform: uppercase;
            color: #bbb;
            font-size: 13px;
        }

        .profile-photo a {
            display: inline-block;
            width: calc(33% - 2px);
            max-height: 70px;
            margin: 1px 0 0;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }
}

.friend-list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        height: 80px;

        .avatar {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            overflow: hidden;
            float: right;
            margin: 10px 0 0;

            img {
                width: 100%;
            }
        }

        .friend-name {
            width: calc(100% - 70px);
            margin: 0 0 0 70px;
            padding: 25px 0 0;
        }
    }
}

.lockscreen {
    width: 100%;

    .app-time {
        text-align: center;
        margin: 0 0 20px;
        line-height: 32px;

        .clock {
            font-weight: 700;
            color: #fff;
            font-size: 50px;
        }

        .date {
            color: #ddd;
        }
    }
}

.app-timeline {
    padding: 10px;

    .user-pic {
        float: right;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .app-content {
        float: left;
        width: calc(100% - 65px);

        .username {
            font-weight: 700;
        }

        .time {
            display: block;
            text-align: left;
            color: #999;
            font-size: 13px;
        }
    }
}

#to-top,
.footer {
    text-align: center;
}

.maleo-calendar {
    .month-name {
        text-align: center;
    }

    table {
        text-align: center;

        td {
            text-align: center;
        }
    }

    padding: 15px;

    .month-name {
        font-size: 25px;
        font-weight: 700;
    }

    table {
        thead {
            border-bottom: none;
            font-weight: 700;
        }

        td {
            padding: 5px 7px;

            &.prev-month {
                color: #bbb;
            }

            &.current-date {
                font-weight: 700;
                color: #fff;
                background: red;
            }
        }
    }
}

.maleo-calendar_schedule {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        border-bottom: 1px solid #efefef;
        padding: 20px 15px;

        .schedule-name {
            font-size: 16px;
            margin: 0 0 10px;
        }

        .schedule-time {
            color: #aaa;
            font-size: 13px;

            i.fa {
                font-size: 20px;
                display: inline-block;
                margin: 0 10px 0 0;
            }
        }

        .schedule-icon {
            float: left;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            text-align: center;
            border-radius: 50%;
            overflow: hidden;
            color: #DB0D0D;
            background: #efefef;
            margin-right: 5px;

            img {
                width: 100%;
            }
        }
    }
}

.app-desc {
    color: #666;
    font-size: 13px;
    text-align: right;
}

.signup .form-content {
    padding: 15px;
}

.footer {
    background: #ddd;
    color: #777;
    font-size: 13px;
    padding: 20px 15px;
    margin: 15px 0 0;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    .heading {
        font-size: 22px;
        font-weight: 700;
        margin: 0;
        color: #444;
    }

    p {
        margin-bottom: 17px;
    }
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    left: 0px;
    color: inherit;
    float: left;
}

.social-footer a {
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
    color: #666;
}

.footer .copyleft {
    color: #999;
    padding: 15px 0 0;
    margin: 15px 0 0;
    border-top: 1px solid #ccc;
}

#to-top {
    position: fixed;
    left: 30px;
    bottom: -100px;
    width: 45px;
    height: 40px;
    overflow: auto;
    padding: 2px 0 0;
    font-size: 20px;
    cursor: pointer;
    background: #870404;
    background: rgba(135, 4, 4, 0.5);
    color: #fff;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    z-index: 111;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .featured-slider .featured-item {
        height: 500px;
    }
}

@media screen and (max-width: 374px) {
    .featured-slider .featured-item {
        height: 200px;

        .caption {
            padding: 2px 15px 25px;
        }
    }
}

.collapsible-header i {
    float: right !important;
    margin-left: 1rem;
    margin-right: 0 !important;
}

#swipebox-overlay {
    display: none !important;
}

.slick-slider {
    direction: ltr;
}

.featured-slider .featured-item {
    .caption {
        direction: rtl;
        right: 0;
    }

    .overlay {
        height: 20%;
    }
}

.footer .heading {
    margin-bottom: 15px;
}

.dropdown-content li {
    text-align: right !important;
}

.slick-dots {
    display: none !important;
}

.featured-slider .featured-item .caption {
    padding: 5px 15px 25px;
}

.blog-title {
    font-size: 18px;
}

body {
    background: #fbfeff;
    font-family: 'Cairo', sans-serif;
}

.top-navbar {
    background: $main-color;
    border-bottom: 1px solid $main-color;

    .site-title img {
        height: 70px;
        margin-top: -21px;
    }
}

.btn,
.btn-large {
    background-color: $main-color !important;
    color: #fff !important;
}

a,
#slide-out-right li.current-item a {
    color: $main-color !important;
}

.top-navbar {

    .top-navbar-right a,
    .site-title h1,
    .top-navbar-left a {
        color: #fbfeff !important;
    }
}

#to-top {
    background: $main-color;
}

.product-list .product-item .product-price .product-price_reduced,
.page-title,
#slide-out-right .collapsible-body li a,
.top-navbar .dropdown-content li a,
.blog-title {
    color: #56686f !important;
}

#slide-out-right {

    li.heading-menu,
    > .collapsible > li > a {
        color: #56686f !important;
    }
}

#slide-out-left {

    li.heading-menu,
    > .collapsible > li > a {
        color: #56686f !important;
    }
}

a {
    color: $main-color !important;
}

#slide-out-right {
    li {

        &.current-item a,
        a i.fa {
            color: $main-color !important;
        }
    }

    .collapsible-header i.fa {
        color: $main-color !important;
    }
}

.top-navbar .dropdown-content li a i.fa {
    color: $main-color !important;
}

.loader-app {
    position: fixed;
    width: 100%;
    height: 100%;
    background: $main-color;
    z-index: 999;
    text-align: center;
    padding-top: 35vh;

    .ld.ld-spin-fast {
        font-size: 40px;
        color: #b9b9b9;
    }

    img {
        height: 100px;
        display: block;
        margin: 0 auto;
    }
}

.blog-title,
.maleo-blog_thumb,
.product-price_reduced {
    cursor: pointer;
    text-decoration: underline;
}

.maleo-blog_small .maleo-blog_thumb {
    margin-left: 10px;
}

.maleo-blog_rightcontent {
    display: none;
    margin-top: 10px;
}

#slide-out-right {

    > .collapsible > li > a,
    .collapsible-header {
        font-size: 20px;
    }

    .collapsible-body li a {
        font-size: 18px;
    }
}

.product-list .product-item .thumb {
    max-height: initial;
}

input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid $main-color;
    box-shadow: 0 1px 0 0 $main-color;
}

.productName {
    text-align: center;
    border: 31px 39px 13px;
    background-color: #000;
    opacity: 0.8;
    height: 40px;
    padding: 5px;
    color: #fff;

    a {
        color: #fff !important;
    }
}

.prod {
    text-align: center;
    background-color: #000;
    opacity: 0.6;
    height: 40px;
    padding: 9px;
}

.rating a {
    color: #fff !important;
}

.product-list .product-item .product-price .product-price_reduced {
    font-size: 13px;
    color: #fff !important;
}

.poster_film {
    width: 100%;
    padding: 5px;

    img {
        width: 100%;
        display: grid;
    }
}

.single_poster {
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px #111;
}

.poster_film {
    h5 {
        font-size: 14px;
        text-align: center;
        border: 31px 39px 13px;
        background-color: #000;
        opacity: 0.8;
        padding: 9px;
        color: #fff;
    }

    h4 {
        font-size: 25px;
        font-weight: 800;
        text-shadow: 2px 2px 10px #111;
        text-align: center;
        padding: 10px;
        color: $main-color;
    }
}

.owl-stage {
    height: 0;
}

.owl-carousel.owl-rtl {
    margin-bottom: 20px;
}

.main_more {
    text-align: center;
    padding: 20px;
}

.main_more a {
    background-color: $main-color;
    color: #fff !important;
    padding: 5px 25px;
    text-decoration: none;
    font-weight: 800;
}

/*--------------------------------------------------------*/
.terms {
    direction: rtl;
}

ul.terms > li {
    font-size: 16px;
}

ul.terms > li {
    margin: 0px 15px 20px 18px;
    padding-left: 18px;
    padding-right: 0px;
}

ul.terms li {
    list-style: square;
    margin: 0px 0px 10px 18px;
    padding-right: 20px;
}


ul.terms li {
    list-style: square;
    margin: 0px 0px 10px 18px;
    padding-right: 20px;
}

ul {
    list-style: none;
}

ul.terms {
    padding: 25px 20px;
    line-height: 1.5;
    font-size: 14px;
    text-align: justify;
}


/*--------------------------------------------------------*/


@import "responsive";
