/* Extra Small Devices, Phones */

@media (max-width: 767px) {
    body {
        background-image:  url(../img/mobile-landing-page.png);
        overflow: hidden;
        display: block;
        width: 100%;
        height: 100vh;
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transform: translate3d(0px, 0px, 0px);
        transform-style: preserve-3d;
    }
    .hadees h2 {
        font-size: 25px;
        text-shadow: 2px 2px 2px black;
            margin: auto;
    }
    .hadees p {
        font-size: 20px;
        color: #fff;
    }
    .hadees {
        overflow: hidden;
    }
    .ssub h2 {
        font-size: 16px !important;
    }
    .main img {
        width: 95px;
    }
    .tarm p {
        font-size: 11px;
    }
    .tarm p span {
        font-weight: 500;
        font-size: 15px;
        font-family: tradbdo;
    }
    .logomshary img {
    width: 100%;
    margin-top: -5%;
    margin-bottom: 20%;
    margin-left: 0;
    }
    .modal-footer {
        padding-left: 100px;
    }
}


/*==============================================================================================*/