::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .4);
    background-color: #CFCFCF
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5
}

::-webkit-scrollbar-thumb {
    background-color: #231D15
}

body {
      background: url('../img/new-landing.jpg') no-repeat rgb(30,30,30) fixed center center;
      background-size:  100% 100%;
     }


#loading{
  background-color: #2c3e50;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-left: -25px;
   -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); 
  -webkit-animation: loading-center-absolute 1.5s infinite;
  animation: loading-center-absolute 1.5s infinite;

}
.object{
  width: 25px;
  height: 25px;
  background-color: #FFF;
  float: left;
  
}




#object_one {
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
  }
#object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
  }
#object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
  }
#object_four {
  -webkit-animation: object_four 1.5s infinite;
  animation: object_four 1.5s infinite;
  }
  

@-webkit-keyframes loading-center-absolute {
  100% { -webkit-transform: rotate(-45deg); }

}

@keyframes loading-center-absolute {
  100% { 
    transform:  rotate(-45deg);
    -webkit-transform:  rotate(-45deg);
  }
}



@-webkit-keyframes object_one {
  25% { -webkit-transform: translate(0,-50px) rotate(-180deg); }
  100% { -webkit-transform: translate(0,0) rotate(-180deg); }

}

@keyframes object_one {
  25% { 
    transform: translate(0,-50px) rotate(-180deg);
    -webkit-transform: translate(0,-50px) rotate(-180deg);
  } 
  100% { 
    transform: translate(0,0) rotate(-180deg);
    -webkit-transform: translate(0,0) rotate(-180deg);
  }
}


@-webkit-keyframes object_two {
  25% { -webkit-transform: translate(50px,0) rotate(-180deg); }
  100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_two {
  25% { 
    transform: translate(50px,0) rotate(-180deg);
    -webkit-transform: translate(50px,0) rotate(-180deg);
  } 
  100% { 
    transform: translate(0,0) rotate(-180deg);
    -webkit-transform: translate(0,0) rotate(-180deg);
  }
}

@-webkit-keyframes object_three {
  25% { -webkit-transform: translate(-50px,0) rotate(-180deg); }
  100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_three {
  25% { 
    transform:  translate(-50px,0) rotate(-180deg);
    -webkit-transform:  translate(-50px,0) rotate(-180deg);
  } 
  100% { 
    transform: translate(0,0) rotate(-180deg);
    -webkit-transform: rtranslate(0,0) rotate(-180deg);
  }
}


@-webkit-keyframes object_four {
  25% { -webkit-transform: translate(0,50px) rotate(-180deg); }
  100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_four {
  25% { 
    transform: translate(0,50px) rotate(-180deg); 
    -webkit-transform: translate(0,50px) rotate(-180deg);  
  } 
  100% { 
    transform: translate(0,0) rotate(-180deg);
    -webkit-transform: translate(0,0) rotate(-180deg);
  }
}



/*===============================start hadess================================*/
.hadees {
  overflow: hidden;
  margin-top: -27%;

}
.hadees h2 {
 font-family: beinB ;
 font-size: 28px;
 color: #43f2e4;
 text-align: center;
}
.hadees p {
font-family: aboelwafa;
    font-size: 29px;
    font-weight: bold;
    color: #f4d3a6;
    text-align: center;
}

/*===============================End hadess================================*/
.layer{
  position: relative;
}
.ssub {
 position: absolute;
 width: 100%;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 font-family: beinA ;
 font-size: 28px;
 color: #fff;
 text-align: center;
 text-shadow: 4px 4px 4px black;

}

/*===============================start mshary logo================================*/
.logomshary img{
    width: 70%;
    margin-left: 14%;
    margin-top: -5%;
    margin-bottom: 20%;
  }

/*===============================End mshary logo================================*/

/*===============================start opreating logo================================*/


.main {
 
  text-align: center;


}

.main img{
	padding: 20px;
	width: 120px;
}



/*===============================End Operating================================*/



/*===============================start Animate================================*/

.medium {
  animation-delay: 1.3s;
  animation-duration: 0.9s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.fast-child-7 {
  animation-delay: 0.8s;
  animation-duration: 1.8s;
  animation-fill-mode: both;
}

/*===============================End Animate================================*/



  .input-group {
    display: table;
    border-collapse: separate;
    padding: 25px;
     }

.input-group-addon {
	padding: 13px 17px;


}

  .form-group {
    margin-bottom: 16px;
    width: 70%;
    margin-left: 3%;
     }


    .form-control {
    	padding: 21px 17px;
    

    }


    .btn {
    padding: 13px 37px;
    margin-left: 44%;
    margin-bottom: 5%;
    background: #43f2e4;
    color: #111;
    font-weight: 800;
    box-shadow: 3px 3px 10px;
    transition: 0.5s ease-in-out;

    }
    .btn:hover{
      background:#0A263A;
      border-color: #0A263A;
    }

   .btn-default {


    margin-bottom: 5%; }


    .eshtrak h2 {
    	font-family: aboelwafa !important;
    	font-weight: 800;
    	font-size: 24px;
 
    }




 

h1 {
  font-family: aboelwafa;
}

.jumbotron {
  text-align:center;
  display: none;
  background-color: #fff;
}



/*===============================End form================================*/


.tarm{

}

.tarm p span {
    font-weight: 900;
    font-size: 20px;
    font-family: beinA;

}


.tarm p {
    font-size: 17px;
    font-family: beinA ;
    color: #fff;
    font-weight: 800;
    text-shadow: 4px 4px 4px black;
}


.lead {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    margin: 0;
}


a {
    color: #f4d3a6;
    text-decoration: none;
}



.modal-content {
  direction: rtl;
}


.btn {
  margin-right: 44%;
}