body {
    margin-top: 8%;
    height: 100%;
          background: url(../img/new-landing.jpg) no-repeat rgb(30,30,30) fixed center center;
      background-size:  100% 100%;
      font-family: aboelwafa;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), black), url(../img/new-landing.jpg) ;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.6), black), url(../img/new-landing.jpg) ;
  opacity: 0.8;

        }




#loading{
  background-color: #2c3e50;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  margin-top: 0px;
  top: 0px;
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-left: -25px;
   -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); 
  -webkit-animation: loading-center-absolute 1.5s infinite;
  animation: loading-center-absolute 1.5s infinite;

}
.object{
  width: 25px;
  height: 25px;
  background-color: #FFF;
  float: left;
  
}




#object_one {
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
  }
#object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
  }
#object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
  }
#object_four {
  -webkit-animation: object_four 1.5s infinite;
  animation: object_four 1.5s infinite;
  }
  

@-webkit-keyframes loading-center-absolute {
  100% { -webkit-transform: rotate(-45deg); }

}

@keyframes loading-center-absolute {
  100% { 
    transform:  rotate(-45deg);
    -webkit-transform:  rotate(-45deg);
  }
}



@-webkit-keyframes object_one {
  25% { -webkit-transform: translate(0,-50px) rotate(-180deg); }
  100% { -webkit-transform: translate(0,0) rotate(-180deg); }

}

@keyframes object_one {
  25% { 
    transform: translate(0,-50px) rotate(-180deg);
    -webkit-transform: translate(0,-50px) rotate(-180deg);
  } 
  100% { 
    transform: translate(0,0) rotate(-180deg);
    -webkit-transform: translate(0,0) rotate(-180deg);
  }
}


@-webkit-keyframes object_two {
  25% { -webkit-transform: translate(50px,0) rotate(-180deg); }
  100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_two {
  25% { 
    transform: translate(50px,0) rotate(-180deg);
    -webkit-transform: translate(50px,0) rotate(-180deg);
  } 
  100% { 
    transform: translate(0,0) rotate(-180deg);
    -webkit-transform: translate(0,0) rotate(-180deg);
  }
}

@-webkit-keyframes object_three {
  25% { -webkit-transform: translate(-50px,0) rotate(-180deg); }
  100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_three {
  25% { 
    transform:  translate(-50px,0) rotate(-180deg);
    -webkit-transform:  translate(-50px,0) rotate(-180deg);
  } 
  100% { 
    transform: translate(0,0) rotate(-180deg);
    -webkit-transform: rtranslate(0,0) rotate(-180deg);
  }
}


@-webkit-keyframes object_four {
  25% { -webkit-transform: translate(0,50px) rotate(-180deg); }
  100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_four {
  25% { 
    transform: translate(0,50px) rotate(-180deg); 
    -webkit-transform: translate(0,50px) rotate(-180deg);  
  } 
  100% { 
    transform: translate(0,0) rotate(-180deg);
    -webkit-transform: translate(0,0) rotate(-180deg);
  }
}




























.table p{
	font-size: 21px;
}


span {
	font-size: 25px;
	font-weight: 600;
}


.cont p {
	font-weight: 13px;
}



.text-center h1 {
	font-weight: 800;
	font-size: 50px;
	color: #3d948d;
}


.cont p {
	font-size: 15px;
	font-weight: 20px
}



.btn-block {
	display: block;
  width: 94%;
  margin-right: 15px;
  background-color: #3d948d !important;
  border-color: #3d948d !important;

}

  .btn-block:hover {
    background-color: #3d948d !important;
    border-color: #3d948d !important;

}



.btn-success{
    color: #fff;
    background-color: #3d948d !important;
    border-color: #3d948d !important;
}



@media (max-width: 767px) { 

	body{
		margin-top: 8%;
		height: 100%;
		background-size:  100% 100%;
		font-family: aboelwafa;
		opacity: 0.8;

	}


	.btn-block {
    display: block;
    width: 94%;
    margin-right: 8px;
}



}

.modal-content{
	margin-top: 30%;
}

