html,
body {
  height: 100%;
  margin: 0;
}

.main {
  background: url("../images/landing-bk2.jpg"), linear-gradient(#babdcf, #665192);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.logo {
  margin: auto;
  width: 43%;
}
.logo img {
  width: 100%;
}
.logo span {
  text-align: center;
  display: block;
  font-size: 12px;
}

.strip-layer {
  position: relative;
  padding: 25px 0;
}
.strip-layer img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.aflam {
  background: #000;
}
.aflam .item {
  text-align: center;
  border-left: 10px solid #000;
  font-size: 0;
  height: 30vh;
}
.aflam .item .aflam-item--img {
  display: block;
  text-decoration: none;
  height: auto;
}
.aflam .item .aflam-item--img img {
  width: 100%;
  height: 100%;
}
.aflam .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
}
.aflam .owl-nav [class*=owl-] {
  background: #623997 !important;
  padding: 0;
}
.aflam .owl-nav .owl-prev {
  top: 50%;
  left: 0;
  width: 50px;
  position: absolute;
  border-radius: 50%;
  transform: translate(0, -50%);
  height: 50px;
  line-height: 50px;
}
.aflam .owl-nav .owl-next {
  top: 50%;
  right: 0;
  width: 50px;
  position: absolute;
  border-radius: 50%;
  transform: translate(0, -50%);
  height: 50px;
  line-height: 50px;
}

.sub {
  width: 100%;
  padding: 6px 0;
}
.sub form {
  text-align: center;
}
.sub form label {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
//  text-shadow: 0 2px 10px #000;
}
.sub form div {
  width: 250px;
  margin: auto;
  position: relative;
}
.sub form div span {
  border: 1px solid #695594;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px;
  text-align: center;
  background: #c8c8c8;
  color: #424242;
  font-weight: bold;
}
.sub form input {
  display: block;
  margin: auto;
  width: 250px;
}
.sub form input[type=number] {
  border: 1px solid #695594;
  outline: 0;
  padding: 4px;
  padding-left: 75px;
}
@media (max-width: 575px) {
  .sub form input[type=number] {
    padding: 2px;
    padding-left: 75px;
  }
}
.sub form input[type=number]::-webkit-outer-spin-button, .sub form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sub form input[type=submit] {
  background: linear-gradient(#babdcf, #665192);
  border: 0;
  width: 150px;
  font-weight: bold;
  margin: 5px auto;
  padding: 5px 8px;
  cursor: pointer;
  box-shadow: 0 2px 15px #000;
  transition: all 0.3s ease-in-out;
  outline: 0;
  color: #fff;
  font-size: 17px;
  text-shadow: 0 2px 10px #000;
}
.sub form input[type=submit]:hover {
  box-shadow: 0 2px 5px #000;
}
.sub p {
  direction: rtl;
  text-align: center;
  color: #fff;
  font-weight: bold;
 // text-shadow: 0 2px 10px #000;
  font-size: 12px;
  margin-bottom: 5px;
}
.sub select {
  width: 250px;
}


.terms_color{
    color:#1b2b6b !important;
}